<input id="request-search" type="text" name="searchText" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Search by request ID, request creator, etc." placeholder="Search for a request" style="width:50%; margin-left: 25%; margin-top: 50px">

<div id="requests-container" style="margin-top:20px">

	<% if (requests.length > 0) { %>
		<% requests.forEach(function(request) { %>

		<div id="request-box" style="background-color:rgb(231,231,231); width:50%; margin-left:25%; margin-top: 10px; border-left: 7px solid green; padding: 10px">
			<div id="request-header" style="background-color:rgb(208,208,208); padding: 10px">
				<div id="request-status" style="display: inline-block; font-weight: bold; color: green; background-color: rgb(244,244,244); padding:2px">
					<!-- color depends on status OPEN - green, In-Progress - yellow, etc. -->
					<%= request.status %>
				</div>
				<div id="request-title-bar" style="display: inline-block; margin-left: 5px">
					Title: <%= request.title %>
				</div>
				<div id="request-expdate-bar" style="float:right; display: inline-block">
					Expires: <%= request.expirationDate %>
				</div>
				<div id="request-creator-bar" style="margin-top:5px">
					Requester: <%= request.creator.username %>
				</div>
			</div>
			<div id="request-body" style="padding:10px">
				<div id="request-desc-bar">
					Description: <%= request.description %>
				</div>
				<div id="request-rewards-bar" style="margin-top:5px">
					Rewards: 1 cookie
				</div>
			</div>
			<div id="request-footer">
				<% if (request.status === "Open") { %>
					<% if (userProfile.username !== request.creator.username) { %>

						<% var candidateNames = request.candidates.map(function (ele) { %>
						<% return ele.username; %>
						<% }); %>

						<% var helperNames = request.helpers.map(function (ele) { %>
						<% return ele.username; %>
						<% }); %>

						Candidates: <%= candidateNames %>
						Helpers: <%= helperNames %>
						<% if (candidateNames.indexOf(userProfile.username) === -1 && helperNames.indexOf(userProfile.username) !== -1) { %>
							<button class="btn btn-primary" onclick="handleRequest('<%= request._id %>', 'accept')">Accept</button>
						<% } else if (candidateNames.indexOf(userProfile.username) !== -1 ) { %>
							<button class="btn btn-default" onclick="handleRequest('<%= request._id %>', 'cancel')">Cancel</button>
						<% } else {%>
							Your help has been accepted.
						<% } %>
					<% } %>
				<% } else if (request.status === "In-Progress") { %>
					The request is currently in progress.
				<% } %>
			</div>
		</div>


		<% }); %>
	<% } %>
</div>