<title>Requestr v0.1</title>
<!-- javascript -->
<!-- external -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="../../ejs/ejs.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<!-- internal -->
<script src="../../requests.js" type="text/javascript"></script>

<!-- css -->
<!-- external -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<!--internal -->
<link rel="stylesheet" href="../../requestr.css">

<% if (userProfile) { %>
	<button class="btn btn-primary" onclick="goHome()">Go Back</button>

	<div id="request-box" style="background-color:rgb(231,231,231); width:50%; margin-left:25%; margin-top: 10px; border-left: 7px solid green; padding: 10px">
		<div id="request-header" style="background-color:rgb(208,208,208); padding: 10px">
			<div id="request-status" style="display: inline-block; font-weight: bold; color: green; background-color: rgb(244,244,244); padding:2px">
				<!-- color depends on status OPEN - green, In-Progress - yellow, etc. -->
				<%= request.status %>
			</div>
			<div id="request-title-bar" style="display: inline-block; margin-left: 5px">
				Title: <%= request.title %>
			</div>
			<div id="request-expdate-bar" style="float:right; display: inline-block">
				Expires: <%= request.expirationDate %>
			</div>
			<div id="request-creator-bar" style="margin-top:5px">
				Requester: <%= request.creator.username %>
			</div>
		</div>
		<div id="request-body" style="padding:10px">
			<div id="request-desc-bar">
				Description: <%= request.description %>
			</div>
			<div id="request-rewards-bar" style="margin-top:5px">
				Rewards: 1 cookie
			</div>
		</div>
		<div id = "request-tags">
			<h4>
				Tags: <% request.tags.forEach(function(tag){ %>
					<%= tag%>
				<% }); %>
			</h4>
		</div>
		<div id="request-footer">
			<% if (request.status === "Open") { %>
				
				<% var candidateNames = request.candidates.map(function (ele) { %>
				<% return ele.username; %>
				<% }); %>

				<% var helperNames = request.helpers.map(function (ele) { %>
				<% return ele.username; %>
				<% }); %>

				<% if (userProfile.username !== request.creator.username) { %>
					<% if (candidateNames.indexOf(userProfile.username) === -1 && helperNames.indexOf(userProfile.username) === -1) { %>
						<button class="btn btn-primary" onclick="handleRequest('<%= request._id %>', 'candidate')">Offer Help</button>
					<% } else if (candidateNames.indexOf(userProfile.username) !== -1 ) { %>
						<button class="btn btn-default" disabled>Offer Help</button>
					<% } else {%>
						Your help has been accepted! Wait for the requester to mark the request as In Progress.
					<% } %>
				<% } else { %>
					<h4>Current Candidates:</h4>
					<ul class="list-group">
					 	<% candidateNames.forEach(function (candidate) { %>
					 		<li class="list-group-item">
					 			<a href="/users/<%= candidate %>"><%= candidate %></a>
					 			<button class="btn btn-default accept-candidate" type="submit">Accept Help</button>
					 		</li>
					 	<% }); %>
					</div>
				<% } %>
			<% } else if (request.status === "In-Progress") { %>
				The request is currently in progress.
			<% } %>
		</div>
		<% request.comments.forEach(function(comment) { %>
			<div id="comment-box">
				<b> <%= comment.user.username %> : </b> <%= comment.comment %> <i>@ <%= comment.dateCreated %></i>
			</div>
		<% }); %>
		<form class="form-inline">
		  <div class="form-group">
		    <input type="text" class="form-control" id="newCommentText" placeholder="New Comment">
		  </div>
		  <button onclick="addComment('<%=request._id%>')" type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
	
	
<% } %>